// 顏色
$black-deep   = #104e8b;
// 圓角
$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;

// 閱讀全文樣式
$btn-default-radius           = 15px
$btn-default-bg               = black
$btn-default-color            = grey-light 
$btn-default-border-color     = blue-deep
$btn-default-hover-color      = yellow
$btn-default-hover-bg         = blue-bright